.infoBox {
  flex: 1;
  cursor: pointer;
  max-width: 230px;
}
.infoBox:not(:last-child) {
  margin-right: 15px;
}
.infoBox--selected {
  border-top: 10px solid #a6d609;
}
.infoBox--red {
  border-color: #ff2c53;
}
.infoBox--blue {
  border-color: #1c86ee !important;
}
.infoBox__cases {
  color: #ff2c53;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}
.infoBox__cases--green {
  color: #a6d609 !important;
}
.infoBox__cases--blue {
  color: #1c86ee !important;
}
.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.99rem !important;
  margin-left: 20px !important;
  margin-top: -10px !important;
  margin-bottom: 5px !important;
}
