.map {
  height: 500px;
  background-color: white;
  /* padding: 1rem; */
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 11px 11px 22px #dbd7d7, -11px -11px 22px #ffffff;
}
.map .leaflet-container {
  height: 100%;
  border-radius: 20px;
}
.info-flag {
  height: 40px;
  width: 50%;
  background-size: cover;
  border-radius: 8px;
}
.info-flag img {
  width: 100px;
  border-radius: 5px;
}
.info-name {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.747);
  margin-top: 5px;
}
.info-confirmed,
.info-recovered,
.info-deaths {
  font-size: 14px;
  margin-top: 2px;
}
.info-container {
  width: 150px;
}
